extends layout
block title
    title Main page
block css
    link(rel='stylesheet' href='/css/bsValidator.min.css')

block content
    h1.mt-4 Add article
    hr
    form(id="admin", name="admin", method="post", action="/admin/articles/edit/" + oldContent.slug)
        .form-group
            label(for='title') Enter title
            |
            input#title.form-control(name="title", value=oldContent.title)
        |
        .form-group
            label(for='content1') Enter first part of article
            |
            textarea#content1.form-control(name="content1", rows="5") #{oldContent.content1}
        |
        .form-group
            label(for='content2') Enter second part of article
            |
            textarea#content2.form-control(name="content2", rows="5") #{oldContent.content2}
        |
        .form-group
            label(for='content3') Enter third part of article
            |
            textarea#content3.form-control(name="content3", rows="5") #{oldContent.content3}
        |
        .form-group
            label(for='tags') Enter tags (Example: "weekend;home;work")
            |
            input#tags.form-control(name="tags", value=tagsString)
        |
        button.btn.btn-primary(type='submit') Edit

block scripts
    script(type='text/javascript' src='/js/bsValidator.min.js')
    script(src='/js/tags-validate.js')