doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    block title
    // Bootstrap core CSS
    link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
    // Custom styles for this template
    link(href='/css/simple-sidebar.css' rel='stylesheet')
    block css

#wrapper
    // Sidebar
    #sidebar-wrapper
        ul.sidebar-nav
            li.sidebar-brand
                a(href='#')
                    | Simple blog
            li
                a(href='/admin') Add article
            li
                a(href='/admin/articles') All articles
            li
                a(href='/admin/profile') Profile
            li
                a(href='#') Faker
            li
                a(href='/logout') Exit
    // /#sidebar-wrapper
    // Page Content
    #page-content-wrapper
        .container-fluid
            .container
                .row
                    // Post Content Column
                    .col-lg-8
                        block content
    // /#page-content-wrapper
// /#wrapper
// Bootstrap core JavaScript
script(
src="https://code.jquery.com/jquery-3.3.1.slim.min.js",
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo",
crossorigin="anonymous")
script(
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js",
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49",
crossorigin="anonymous")
script(
src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js",
integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T",
crossorigin="anonymous")
script.
    $("document").ready(function() {
        // e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
block scripts