extends layout
block title
    title Main page
block content
    // Post Content Column
    .col-lg-8
        // Title
        h1.mt-4 #{json[0].title}
        hr
        // Date/Time
        p Posted on #{json[0].createFormat}
        hr
        // Preview Image
        img.img-fluid.rounded(src='/uploads/' + json[0].slug + '.jpg', alt='')
        hr
        h3.mt-4 Tags:
            each val in artTags
                a(href='/tags/' + val.tag)  #{val.tag}
        // Post Content
        p.lead #{json[0].content1}
        p #{json[0].content2}
        p #{json[0].content3}
        hr
        // Comments Form
        if (user === undefined)
            a.nav-link(href='/auth/vk') To comment please log-in via VK
        else
            .card.my-4
                h5.card-header Leave a Comment:
                .card-body
                    form(id="comment", name="comment", method="post", action='/articles/comment/'+json[0].slug)
                        .form-group
                            textarea.form-control(name="content", rows="5")
                        button.btn.btn-primary(type='submit') Submit
        hr
        // Single Comment
        if (comments != undefined)
            each val in comments
                .media.mb-4
                    img.d-flex.mr-3.rounded-circle(src=val.avatar alt='')
                    .media-body
                        a(href=val.url)
                            h5.mt-0 #{val.name}
                        p at #{val.createFormat}
                        h6 #{val.content}
                        hr