extends layout
block title
    title Main page
block content
    // Blog Entries Column
    .col-md-8
        h1.my-4
            | Page Heading
            small Secondary Text
        // Blog Post
        each val in rows
            .card.mb-4
                img.card-img-top(src='/uploads/' + val.slug + '.jpg', alt='Card image cap')
                .card-body
                    h2.card-title #{val.title}
                    p.card-text #{val.content1}
                    a.btn.btn-primary(href='/articles/' + val.slug) Read More →
                .card-footer.text-muted Posted on #{val.createFormat}
        // Pagination
        ul.pagination.justify-content-center.mb-4
            +pagination(pages, current)

mixin pagination(pages, current)
    if (pages > 0)
        ul.pagination.text-center
            if (current == 1)
                li.page-item.disabled(tabindex='-1')
                    a.page-link First
            else
                li
                    a.page-link(href='/articles/page/1') First
            - var i = (Number(current) > 5 ? Number(current) - 4 : 1)
            if (i !== 1)
                li.page-item.disabled(tabindex='-1')
                a.page-link ...
            while i <= (Number(current) + 4) && i <= pages
                if (i === current)
                    li.page-item.active
                        a.page-link #{i}
                        - i++
                else
                    li.page-item
                        a.page-link(href='/articles/page/' + i ) #{i}
                        - i++
                if (i === Number(current) + 4 && i < pages)
                    li.page-item.disabled(tabindex='-1')
                        a.page-link ...
                        - i++
            if (current == pages)
                li.page-item.disabled(tabindex='-1')
                    a.page-link Last
            else
                li.page-item
                    a.page-link(href='/articles/page/' + pages) Last